@keyframes bottom-top {
  from {
    bottom: 0;
    left: 50px;
    right: 50px;
  }
  to {
    bottom: 30%;
  }
}

.cards {
  position: relative;
  .container(@big-desktop-width);
  padding: 0 220px;
  min-height: 1103px;
  background-image: url("../img/decorate/flower-2.svg"),
    url("../img/decorate/flower-3.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, bottom left;
  background-size: 368px 275px;

  .animals-list {
    &__item {
      border: 1px solid @orange-gradient;
      border-radius: 5px;

      .img__wrapper {
        display: inline-block;
        position: relative;
        img:hover {
          transform: scale(1.03);
        }
      }
      .img__wrapper:hover::after {
        content: attr(data-title);
        padding: 10px;
        position: absolute;
        z-index: 1;
        background: rgba(255, 255, 230, 0.9);
        animation: 1s bottom-top;
        bottom: 30%;
        left: 50px;
        right: 50px;
      }
    }
    .reset-ul();
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 30px;
    row-gap: 20px;
    .animal-description__wrapper {
      padding: 8px 16px;
      display: grid;
      grid-template-areas:
        "b svg"
        "p svg";
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      height: 60px;
      b {
        grid-area: b;
        margin: 0;
        padding: 0;
      }
      p {
        margin: 0;
        padding: 0;
        grid-area: p;
      }
      svg {
        grid-area: svg;
        justify-self: end;
        align-self: center;
      }
    }
  }
  &__btn {
    position: absolute;
    .reset-btn();
    background: #fe9013;
    border-radius: 25px;
    padding: 16px 45px;
    color: @white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    left: 42%;
    bottom: 100px;
  }
  &__btn-right,
  &__btn-left {
    position: absolute;
    .reset-btn();
    background: @orange-gradient;
    border-radius: 50%;
    width: 62px;
    height: 62px;
  }

  &__btn-right {
    top: 34%;
    right: 0;
  }

  &__btn-left {
    left: 0;
    top: 34%;
  }
}
