.cards {
  background-image: url('../../img/decorate/flower-2.svg'), url('../../img/decorate/flower-3.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, bottom left;
  background-size: 368px 275px;
}
