@import "../global/variables.less";
@import "../mixins/mixins.less";

.footer {
  &__wrapper {
    background: @almost-black;
  }

  background: @almost-black;
  .container(@big-desktop);
  padding: 41px 220px;

  @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
    .container(@small-desktop);
    padding: 40px 30px 50px;
  }
  @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
    .container(@tablet);
    padding: 12px 20px;
    position: relative;
    min-height: 282px;
  }
  @media (max-width: @almost-tablet) {
    position: relative;
    .container(@mobile);
    padding: 20px 9px;
  }

  &__logo svg {
    @media (max-width: @almost-tablet) {
      display: none;
    }
  }
  &__logo-mobile {
    @media (min-width: @tablet) {
      display: none;
    }
    @media (max-width: @almost-tablet) {
      display: inline-block;
      position: relative;
      font: 400 19px/1.2 Roboto;
      color: @white;
      text-align: center;
      width: 128px;
      margin-left: 85px;
      &::before {
        position: absolute;
        content: url("../img/svg/bamboo.svg");
        left: 75px;
      }
    }
  }

  .email-label {
    font: 400 24px/1.2 Roboto;
    color: @white;
    margin-left: 12px;
  }

  .logo-form__wrapper {
    display: grid;
    grid-template-columns: auto 384px;
    @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
      grid-template-columns: auto 420px;
    }
    @media (max-width: @almost-tablet) {
      grid-template-columns: auto;
    }
  }
  #email {
    margin-top: 14px;
    margin-left: 9px;
    width: 228px;
    height: 42px;
    padding: 10px 10px 16px 10px;
    border: 0.7px solid;
    border-image: @orange-gradient;
    border-image-slice: 1;

    background: @black;
    color: @white;

    &::placeholder {
      font: 400 16px/1.4 Roboto;
      color: @lightest-grey;
    }
  }

  &__email-form {
    display: grid;
    grid-template-columns: auto auto;
    align-items: end;
    gap: 10px;
    @media (max-width: @almost-small-desktop) {
      display: none;
    }
    @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__donation-btn {
    .reset-btn();
    display: inline-block;
    padding: 16px 50px;
    background: @orange-gradient;
    border-radius: 5px;
    font: 500 16px/1.4 Roboto;
    text-align: center;
    text-transform: uppercase;
    color: @white;
    min-width: 298px;
    margin-top: 35px;
    margin-bottom: -2px;
    @media (max-width: @almost-tablet) {
      margin-top: 75px;
    }
  }

  &__email-form--btn {
    background: @almost-white;
    border: 1px solid @green;
    border-radius: 5px;
    width: 129px;
    height: 42px;
    display: grid;
    place-items: center;
    font: 400 16px/140% Roboto;
    color: @green;
    cursor: pointer;
    @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
      color: @black;
    }
  }
}

.lists__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  // @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
  //   grid-template-columns:
  // }
  @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
    width: 600px;
    grid-template-columns: auto auto;
    margin-top: 83px;
  }
  @media (max-width: @almost-tablet) {
    width: auto;
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 40px;
    row-gap: 20px;
  }

  .social-list {
    display: grid;
    grid-auto-rows: auto;
    gap: 13px;
    .reset-ul();
    margin-top: 50px;
    margin-left: 10px;
    @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
      position: absolute;
      row-gap: 40px;
      margin: 0;
      top: 20px;
      right: 20px;
    }
    @media (max-width: @almost-tablet) {
      position: absolute;
      top: 20px;
      grid-auto-rows: initial;
      grid-template-columns: repeat(4, auto);
      column-gap: 60px;
      margin-left: 60px;
    }
    &__item a {
      position: relative;

      span {
        margin-left: 30px;
        color: @white;
        font: 400 16px/1.4 Roboto;
        @media (max-width: @almost-small-desktop) {
          display: none;
        }
      }
    }
    &__item a::before {
      content: "";
      display: block;
      position: absolute;
      width: 26px;
      height: 26px;
      background: rgba(196, 196, 196, 0.5);
      border-radius: 50%;
      left: -9px;
      top: -6px;
    }
    .instagram,
    .twitter,
    .youtube,
    .facebook {
      position: absolute;
    }
    .instagram {
      left: -4px;
    }

    .twitter {
      left: -4px;
      top: 1px;
    }
    .youtube {
      left: -5px;
      top: 1px;
    }
  }

  .footer-nav-list {
    .reset-ul();
    margin-left: 12px;
    margin-bottom: -3px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-self: end;
    column-gap: 45px;
    a {
      color: @white;
    }
    @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
      margin-left: -22px;
      column-gap: 45px;
    }
    @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
      grid-template-columns: repeat(4, auto);
      justify-content: space-between;
      margin-left: 0;
      column-gap: 5px;
    }
    @media (max-width: @almost-tablet) {
      order: 2;
      margin-left: 0;
      column-gap: 0;
    }
  }

  .contacts__wrapper {
    display: grid;
    grid-auto-rows: auto;
    justify-self: end;
    color: @white;
    a,
    span {
      font: 100 16px/1.3 Roboto;
      color: @white;
    }
    a {
      display: inline-block;
      margin-top: -30px;
    }
  }
  @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
    margin-top: 2px;
  }
  @media (max-width: @almost-tablet) {
    order: 1;
  }
}
