@import "../global/variables.less";
@import "../mixins/mixins.less";

footer {
  background: black;
  .container(@big-desktop-width);
  padding: 41px 220px;

  &__wrapper {
    background: black;
  }
  .email-label {
    font-size: 24px;
    line-height: 120%;
    color: #ffffff;
    display: grid;
    grid-template-rows: auto auto;
  }

  .logo-form__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__donation-btn {
    .reset-btn();
    padding: 16px 30px;
    background: @orange-gradient;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    min-width: 298px;
  }
}
