@import "../global/variables.less";
@import "../mixins/mixins.less";

.header {
  .container(@big-desktop);
  position: relative;
  background-color: @black;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  min-height: 80px;
  padding: 2px 220px 0;

  @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
    .container(@small-desktop);
    padding: 12px 30px 11px;
    min-height: 34px;
  }
  @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
    .container(@tablet);
    padding: 0 20px;
    min-height: 0;
  }
  @media (max-width: @almost-tablet) {
    .container(@mobile);
    padding: 2px 10px;
    min-height: 34px;
  }

  &__wrapper {
    position: relative;
    background: @black;
    width: auto;
  }

  &__contact {
    margin-left: auto;
    color: @white;
    @media (max-width: @almost-small-desktop) {
      display: none;
    }
  }

  .nav-list {
    .reset-ul();
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: start;
    gap: 58px;
    margin-left: 24px;
    @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
      margin-left: 63px;
      column-gap: 48px;
    }
    @media (max-width: @almost-small-desktop) {
      display: none;
    }

    &__item {
      a {
        font: 500 16px/1.4 Roboto;
        color: @white;
      }
    }
  }
  &__logo {
    @media (max-width: @almost-small-desktop) {
      svg {
        width: 55px;
        height: 34px;
        margin-left: -5px;
        margin-top: -3px;
        padding-top: 2px;
        rect {
          stroke: none;
        }
      }
    }
  }

  &__menu {
    .reset-btn();
    display: none;
    @media (max-width: @almost-small-desktop) {
      display: inline-block;
    }
  }
}

.active {
  background-color: @black;
  background-image: @orange-gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 500 16px/140% Roboto;
}

.another__wrapper {
  position: relative;
  .container(@tablet);
}

.open--menu {
  position: absolute;
  .container(@tablet);
  width: 640px;
  height: 329px;
  background: @white;
  grid-template-columns: none;
  grid-template-rows: repeat(3, auto);
  padding: 10px 10px;
  z-index: 999;

  .header__menu {
    display: none;
  }
  .header__logo svg {
    path {
      fill: @orange;
    }
    rect {
      stroke: @orange;
    }
  }

  .header__contact {
    display: grid;
    color: @black;
    margin-left: 0;
    margin-top: 15px;
  }
  .nav-list {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(5, auto);
    row-gap: 15px;
    .reset-ul();
    a {
      color: @black;
    }
  }
}
