@import "../global/variables.less";
@import "../mixins/mixins.less";

.header {
  .container(@big-desktop);
  background-color: @black;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  min-height: 80px;
  padding: 2px 220px 0;

  @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
    .container(@small-desktop);
    padding: 15px 30px;
    min-height: 34px;
  }
  @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
    padding: 10px 20px;
    .container(@tablet);
    min-height: 34px;
  }

  &__wrapper {
    background: @black;
    width: auto;
  }

  &__contact {
    margin-left: auto;
    color: @white;
    @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
      display: none;
    }
  }

  .nav-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: start;
    gap: 58px;
    margin-left: 24px;
    @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
      display: none;
    }

    &__item {
      a {
        color: @white;
      }
    }
  }
  &__logo {
    @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
      display: none;
    }
  }
  &__logo-tablet {
    display: none;
    @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
      display: inline-block;
    }
  }

  &__menu {
    .reset-btn();
    display: none;
    @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
      display: inline-block;
    }
  }
}

.active {
  background-color: @black;
  background-image: @orange-gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 500 16px/140% Roboto;
}
