@import "../global/variables.less";
@import "../mixins/mixins.less";

.header {
  .container(@big-desktop-width);
  background-color: @black;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  min-height: 80px;
  padding: 2px 220px 0;

  @media (min-width: @small-desktop-width) and (max-width: @almost-big-desktop) {
    .container(@small-desktop-width);
    padding: 15px 30px;
  }

  &__wrapper {
    background: @black;
    width: auto;
  }

  &__contact {
    margin-left: auto;
    color: @white;
  }

  .nav-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: start;
    gap: 58px;
    margin-left: 24px;

    &__item {
      a {
        color: @white;
      }
    }
  }
}

.active {
  background-color: @black;
  background-image: @orange-gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 500 16px/140% Roboto;
}
