@import "../global/variables.less";

.promo {
  .container(@big-desktop);
  position: relative;
  min-height: 700px;

  @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
    .container(@small-desktop);
    min-height: 504px;
  }
  @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
    .container(@tablet);
    min-height: 339px;
    margin-top: 34px;
  }
  @media (max-width: @almost-tablet) {
    .container(@mobile);
    min-height: 187px;
    margin-top: 34px;
  }

  &::before {
    position: absolute;
    content: "";
    top: -80px;
    background-image: url("../img/photos/bg-big-panda.png");
    width: 1600px;
    height: 780px;
    z-index: -5;

    
    @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
      background: url("../img/photos/bg-big-panda-small-desktop.png") no-repeat;
      width: 1000px;
      height: 584px;
    }
    @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
      background: url("../img/photos/bg-big-panda-tablet.png") no-repeat;
      top: -34px;
      width: 638px;
      height: 373px;
    }
    @media (max-width: @almost-tablet) {
      background: url("../img/photos/bg-big-panda-mobile.png") no-repeat;
      width: 320px;
      height: 187px;
      top: -1px;
    }
  }

  &__h2 {
    width: 500.31px;
    position: absolute;
    font: 700 106.496px/0.75 Roboto;
    text-align: center;
    text-transform: uppercase;
    color: @white;
    top: -2px;
    right: 220px;
    z-index: 5;

    @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
      right: 85px;
      top: -28px;
      font-size: 85px;
      width: 400px;
    }
    @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
      font-size: 54px;
      width: 255px;
      height: 204px;
      right: 17px;
      top: 5px;
    }
    @media (max-width: @almost-tablet) {
      font-size: 28px;
      width: 128px;
      height: 102px;
      right: 10px;
      top: 15px;
    }

    &--yellow {
      color: @yellow;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background: @orange-gradient;
    right: 328px;
    top: 13px;

    @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
      right: 175px;
      top: -12px;
      z-index: -5;
      width: 367px;
      height: 367px;
    }
    @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
      width: 237px;
      height: 237px;
      right: 71px;
    }
    @media (max-width: @almost-tablet) {
      width: 119px;
      height: 119px;
      right: 37px;
      top: 22px;
    }
  }

  &__btn {
    position: absolute;
    display: grid;
    place-items: center;
    right: 320px;
    bottom: 100px;
    background: @orange-gradient;
    border-radius: 25px;
    min-width: 298px;
    min-height: 54px;
    font: 500 16px/1.4 Roboto;
    color: @white;
    text-transform: uppercase;
    @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
      bottom: 40px;
    }
    @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
      bottom: 47px;
      right: 136px;
    }
    @media (max-width: @almost-tablet) {
      bottom: -73px;
      right: 11px;
    }
  }
}
