@import '../global/variables.less';

.promo {
  .container(@big-desktop-width);
  position: relative;
  min-height: 700px;

  &::before {
    position: absolute;
    content: '';
    top: -80px;
    background-image: url("../img/photos/bg-big-panda.png");
    width: 1600px;
    height: 780px;
    z-index: -5;
  }

  &__h2 {
    width: 500.31px;
    position: absolute;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: @white;
    top: -2px;
    right: 220px;
    z-index: 999;

    &--yellow {
      color: @yellow;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 465px;
    height: 465px;
    border-radius: 50%;

    background: @orange-gradient;
    right: 328px;
    top: 13px;
  }

  &__btn {
    position: absolute;
    right: 320px;
    bottom: 100px;
    background: @orange-gradient;
    border-radius: 25px;
    display: grid;
    place-items: center;
    min-width: 298px;
    min-height: 54px;
    font: 500 16px/1.4 Roboto;
    color: @white;
    text-transform: uppercase;
  }
}
