.promo__crop {
  .container(@big-desktop-width);
  width: 1600px;
  height: 390px;
  background-image: url("../img/photos/bg-big-panda-crop.png");
  background-repeat: no-repeat;
  background-size: 1600px 390px;
}
