.purpose {
  &__wrapper {
    background: no-repeat right url("../img/decorate/flower-1.png");
      @media (min-width: @small-desktop-width) and (max-width: @almost-big-desktop) {
        background: none;
      }
  }
  .container(@big-desktop-width);
  position: relative;
  padding: 140px 220px 0 220px;
  min-height: 723px;
  display: grid;
  grid-template-columns: 609px 465px;
  gap: 85px;
  color: @dark-grey;

  @media (min-width: @small-desktop-width) and (max-width: @almost-big-desktop) {
    .container(@small-desktop-width);
    padding: 100px 30px 142px;
    grid-template-columns: repeat(2, 455px);
    gap: 31px;
  }

  &__h2 {
    margin: 0;
    margin-bottom: 23px;
    font: 400 48px/1.2 Roboto;
  }

  &__p {
    font: 400 16px/1.3 Roboto;
  }

  &__h3 {
    margin-top: 54px;
    font: 400 24px/1.2 Roboto;
  }

  &__anotherP {
    margin-top: 32px;
    font: 400 16px/1.4 Roboto;
  }
}
