.purpose {
  .container(@big-desktop-width);
  position: relative;
  padding: 140px 220px 0 220px;
  min-height: 723px;
  display: grid;
  grid-template-columns: 609px 465px;
  gap: 85px;

  &::before {
    content: '';
    position: absolute;
    width: 293px;
    height: 605px;
    background: url('../img/decorate/flower-1.png') no-repeat;
    right: -89px;
    top: 12px;
  }
  color: @dark-grey;

  &__h2 {
    margin: 0;
    margin-bottom: 23px;
    font: 400 48px/1.2 Roboto;
  }

  &__p {
    font: 400 16px/1.3 Roboto;
  }

  &__h3 {
    margin-top: 54px;
    font: 400 24px/1.2 Roboto;
  }

  &__anotherP {
    margin-top: 32px;
    font: 400 16px/1.4 Roboto;
  }
  &__img {
    margin-left: 8px;
    margin-top: -1px;
    backdrop-filter: blur(2px);
  }
}
