.testimonials {
  .container(@big-desktop-width);
  padding: 140px 220px 104px;
  background-image: url("../img/decorate/leaf.svg");
  background-position: bottom right;
  background-repeat: no-repeat;

  h2 {
    text-align: center;
    font-size: 36px;
    line-height: 130%;
    color: #333b41;
  }

  .testimonials-list {
    .reset-ul();
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;

    &__item {
      background: #f1f3f2;
      border-radius: 20px;
      padding: 16px 15px 19px 16px;
      width: 268px;
      height: 391px;

      b {
        font-size: 16px;
        line-height: 120%;
        color: #000000;
      }

      .person__location {
        display: grid;
        grid-template-columns: auto auto;
        grid-area: location;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        color: #bdbdbd;
      }

      .person__wrapper {
        display: grid;
        grid-template-areas:
          "svg b"
          "svg location";

        svg,
        img {
          grid-area: svg;
        }
        img {
          border-radius: 50%;
        }

        b {
          grid-area: b;
        }
      }
      .person__comment {
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        color: #767474;
      }
    }
  }
  &__btn {
    .reset-btn();
    padding: 16px 50px;
    background: @orange-gradient;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 60px;
  }
  &__range {
    width: 599px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-webkit-slider-runnable-track {
      background: #f5f7f6;
      border-radius: 5px;
      height: 8px;
      width: 599px;
      cursor: pointer;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: #fe9013;
      border-radius: 5px;
      width: 115.19px;
      height: 6px;
      cursor: pointer;
    }
  }
}
