.testimonials {
  &__wrapper {
    background: no-repeat bottom -132px right url("../img/decorate/leaf.svg");
  }
  .container(@big-desktop);
  padding: 140px 220px 104px;
  min-height: 919px;

  @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
    .container(@small-desktop);
    min-height: 842px;
    padding: 100px 30px 140px;
  }
  @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
    .container(@tablet);
    padding: 60px 20px 80px;
    min-height: 668px;
  }

  h2 {
    font: 400 36px/1.3 Roboto;
    text-align: center;
    color: @dark-grey;
    margin-top: 0;
    margin-bottom: 46px;
  }

  .testimonials-list {
    .reset-ul();
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
      grid-template-columns: none;
      grid-template-rows: repeat(3, 1fr);
    }

    &__item {
      background: @almost-white;
      border-radius: 20px;
      padding: 16px 15px 19px 16px;
      width: 268px;
      min-height: 391px;
      @media (min-width: @small-desktop) and (max-width: @almost-big-desktop) {
        width: 293px;
      }
      @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
        min-height: 0;
        width: 600px;
        max-height: 109px;
        overflow: hidden;
      }

      b {
        font: 400 16px/1.2 Roboto;
        color: @black;
      }

      .person__location {
        position: relative;
        grid-area: location;
        display: grid;
        grid-template-columns: 87px auto;
        gap: 16px;
        font: 300 15px/1.2 Roboto;
        color: @lightest-grey;
        &::after {
          content: "";
          position: absolute;
          width: 3px;
          height: 3px;
          background: @lightest-grey;
          border-radius: 50%;
          right: 93px;
          top: 7px;
        }
      }

      .person__wrapper {
        display: grid;
        grid-template-columns: 47px auto;
        grid-template-areas:
          "svg b"
          "svg location";

        svg,
        img {
          grid-area: svg;
        }
        img {
          border-radius: 50%;
        }

        b {
          grid-area: b;
        }
      }
      .person__comment {
        padding-top: 10px;
        font: 300 15px/1.2 Roboto;
        color: @another-grey2;
      }
    }
  }
  &__btn {
    .reset-btn();
    padding: 16px 85px;
    background: @orange-gradient;
    border-radius: 5px;
    font: 500 16px/1.4 Roboto;
    text-align: center;
    text-transform: uppercase;
    color: @white;
    margin-top: 25px;
    @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
      padding: 16px 50px;
      margin-left: 180px;
    }
  }
  &__range {
    margin-top: 24px;
    margin-left: 280px;
    width: 599px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @media (min-width: @tablet) and (max-width: @almost-small-desktop) {
      display: none;
    }

    &::-webkit-slider-runnable-track {
      background: @almost-white2;
      border-radius: 5px;
      height: 8px;
      width: 599px;
      cursor: pointer;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: @orange;
      border-radius: 5px;
      width: 115.19px;
      height: 6px;
      cursor: pointer;
    }
  }
}
