doctype html
html(class="page" lang="ru")
  include ../components/base/head.pug
  body.page__body
    include ../components/base/header.pug
    main.page-main
      include ../../img/icons/icon-palm.svg
      p another Text
    include ../components/base/footer.pug
    include ../components/base/script.pug




