doctype html
html(class="page" lang="ru")
  include ../components/head.pug
  body.page__body
    include ../components/header.pug
    main
      h1(class="visually-hidden") PetStory Online
      include ../components/promo.pug
      include ../components/purpose.pug
      include ../components/animal-cards.pug
      include ../components/scheme.pug
      include ../components/testimonials.pug

    include ../components/footer.pug
    include ../components/script.pug




