@import "./global/normalize";
@import "./global/global";
@import "./global/mixins";
@import "./fonts/fonts.less";

.wrapper {
  .container(320px);
  margin-top: 200px;
}

.widgets {
  .container(320px);
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
}

.tiles-list {
  .reset-ul();
  .container(320px);
  display: grid;
  grid-template-columns: repeat(4, auto);
  &__item {
    width: 79px;
    border: 1px solid black;
  }
}


