@import "./global/normalize";
@import "./global/global";
@import "./global/mixins";
@import "./fonts/fonts.less";
@import "./global/variables.less";
@import "./animations.less";

.wrapper {
  @media (max-width: @lessThanTablet) {
    .container(@mobile);
  }

  @media (min-width: @tablet) and (max-width: @lessThanDesktop) {
    .container(@tablet);
  }
  @media (min-width: @desktop) {
    .container(@desktop);
  }

  margin-top: 50px;
}

.widgets {
  @media (max-width: @lessThanTablet) {
    .container(@mobile);
  }
  @media (min-width: @tablet) and (max-width: @lessThanDesktop) {
    .container(@tablet);
  }
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.tiles-list {
  list-style: none;
  padding: 0;
  @media (max-width: @lessThanTablet) {
    .container(@mobile);
    height: @mobile;
  }
  @media (min-width: @tablet) and (max-width: @lessThanDesktop) {
    .container(@tablet);
    height: @tablet;
  }
  @media (min-width: @desktop) {
    .container(@desktop);
    height: @desktop;
  }
  display: grid;
  grid-template-columns: repeat(4, auto);

  &__item {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 79px;
    border: 1px solid black;
    @media (min-width: @tablet) and (max-width: @lessThanDesktop) {
      font-size: 3rem;
      width: 192px;
      height: 192px;
    }
    @media (min-width: @desktop) {
      font-size: 3rem;
      // width: 192px;
      // height: 192px;
    }
    &--empty {
      border: 1px solid black;
      background: white;
      opacity: 0;
    }
  }

  margin-bottom: 20px;
}

.size__wrapper {
  @media (max-width: @lessThanTablet) {
    .container(@mobile);
  }
  @media (min-width: @tablet) and (max-width: @lessThanDesktop) {
    .container(@tablet);
    display: grid;
  }
  @media (min-width: @desktop) {
    .container(@desktop);
    height: @desktop;
  }
  .frame-description__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (min-width: @desktop) {
      margin: 20px 200px;
    }
    .frame-description {
      display: grid;
      place-content: center;
    }
    .frame-value {
      display: grid;
      place-content: center;
    }
  }
  .frame-btns__description {
    margin-top: 20px;
    display: grid;
    place-content: center;
  }
  .frame-btns__wrapper {
    margin-top: 20px;
    justify-content: space-between;
    @media (min-width: @desktop) {
      margin: 20px 200px;
    }
  }
}

.controls {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 5px;
  @media (min-width: @desktop) {
    margin: 20px 200px;
  }
}

.notifications {
  text-align: center;
  margin-top: 10px;
}

.widgets {
  margin-bottom: 10px;
  @media (min-width: @desktop) {
    margin: 20px 200px;
  }
}
.frame-size__btns {
  min-width: 320px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  gap: 10px;
}
