@black: #000000;
@almost-black: #111115;
@white: #ffffff;
@almost-white: #f1f3f2;
@almost-white2: #f5f7f6;
@yellow: #ffee2e;
@green: #4b9200;
@orange: #fe9013;
@grey: rgba(255, 255, 255, 0.52);
@another-grey: rgba(253, 253, 255, 0.52);
@another-grey2: #767474;
@strange-grey: #929699;
@dark-grey: #333b41;
@light-grey: #404950;
@lightest-grey: #bdbdbd;
@light-blue: #72828e;

@orange-gradient: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
@super-gradient: linear-gradient(
    315.75deg,
    rgba(254, 210, 144, 0.7) 30.06%,
    #febdab 100.95%,
    rgba(254, 210, 144, 0.7) 106.36%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );
@dark-grey: #333b41;

@mobile-width: 320px;
@tablet-width: 640px;
@almost-big-desktop: 1599px;
@big-desktop-width: 1600px;
@small-desktop-width: 1000px;
