.cars {
  margin: 2rem;
  &__amount {
    font: bold 2rem/1.5 Arial sans-serif;
  }
  &-list {
    margin-top: 2rem;
    position: relative;
    .list-item {
        border-bottom: 0.5rem dashed blueviolet;
      &__btn {
        color: blueviolet;
        text-transform: uppercase;
        margin-bottom: 1rem;
        font: bold 1.5rem/1.5 Arial, sans-serif;
        border: 1px solid blueviolet;
        padding: 0.3em;
        border-radius: 0.3em;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
          transition: 0.5s;
          color: burlywood;
          border: 1px solid burlywood;
        }
        &:first-child {
          margin-right: 1rem;
        }
      }
      &__name {
        font: bold 1.5rem/1.5 Arial sans-serif;
        text-transform: uppercase;
        color: blueviolet;
      }
      &__car {
        g {
            fill: orange;
        }
      }
      &__svg-finish {
        position: absolute;
        right: 0;
        top: 50%;
      }
    }
  }
}
