.game {
  padding: 10px;
  .container(@mobile);
  @media (min-width: @tablet) and (max-width: @almost-desktop) {
    .container(@tablet);
  }
  @media (min-width: @desktop) {
    .container(@desktop);
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    gap: 10px;
    @media (min-width: @tablet) {
      grid-template-columns: repeat(6, auto);
      grid-template-rows: none;
      gap: 0;
    }
  }
  .categories-list__item {
    button {
      .reset-btn();
      border-radius: 10px;
      color: white;
      background: @orange;
      padding: 5px;
      transition: all 0.6s ease;
      appearance: none;
      @media (min-width: @tablet) and (max-width: @almost-desktop) {
        padding: 10px 5px;
        text-transform: uppercase;
        font-size: 16px;
      }
      @media (min-width: @desktop) {
        padding: 15px 40px;
        text-transform: uppercase;
        font-size: 18px;
      }
    }
  }

  .question {
    margin-top: 20px;
    display: grid;
    place-items: center;
    @media (min-width: @tablet) {
      grid-template-areas:
        "img name"
        "img audio";
      margin: 40px 0;
    }

    &__img {
      width: 100px;
      @media (min-width: @tablet) and (max-width: @almost-desktop) {
        grid-area: img;
        width: 200px;
      }
      @media (min-width: @desktop) {
        width: 250px;
        grid-area: img;
      }
    }
    &__name {
      margin-top: 20px;
      font: normal 45px/20px sans-serif;
      @media (min-width: @tablet) and (max-width: @almost-desktop) {
        grid-area: name;
      }
      @media (min-width: @desktop) {
        font: normal 95px/20px sans-serif;
        grid-area: name;
      }
    }
  }
  .answers-list {
    margin-top: 20px;
    display: grid;
    gap: 10px;
    @media (min-width: @tablet) and (max-width: @almost-desktop) {
      place-items: center;
    }
    @media (min-width: @desktop) {
      grid-template-columns: 1fr 1fr;
    }

    &__btn {
      .reset-btn();
      font: normal 20px/20px sans-serif;
      width: @mobile;
      border-radius: 10px;
      background: @orange;
      color: white;
      padding: 10px;
      cursor: pointer;
      &:hover {
        background: @orangered;
        color: whitesmoke;
      }
      &:disabled {
        opacity: 0.5;
      }
      @media (min-width: @desktop) {
        padding: 15px 30px;
        font: bold 30px/20px sans-serif;
        width: 600px;
      }
    }
    .decline {
      background: red;
    }
    .accept {
      background: green;
    }
  }

  .checked-answer {
    margin-top: 20px;
    display: grid;
    place-items: center;
    @media (min-width: @tablet) {
      margin-top: 30px;
      grid-template-areas:
        "img surname"
        "img description"
        "img audio";
      gap: 10px;
    }
    @media (min-width: @desktop) {
      grid-template-columns: 30% 70%;
      padding: 0 10px;
    }

    &__img {
      @media (min-width: @tablet) {
        grid-area: img;
      }
    }
    &__description {
      @media (min-width: @tablet) {
        grid-area: description;
        font: normal 20px/20px sans-serif;
      }
      @media (min-width: @desktop) {
        padding: 10px 20px;
      }
    }
    &__surname {
      margin: 20px 0;
      font: italic 30px/20px sans-serif;
      @media (min-width: @tablet) {
        grid-area: surname;
        font: bold 45px/20px sans-serif;
      }
    }
    &__default {
      font: normal 30px/40px sans-serif;
    }
  }

  .next-btn {
    .reset-btn();
    display: block;
    margin: 20px auto;
    background: @orange;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font: bold 16px/20px sans-serif;
    transition: all 0.6s ease;
    &:hover {
      background: @orangered;
      color: whitesmoke;
      transform: scale(1.05);
    }
    &:disabled {
      background: grey;
      color: whitesmoke;
    }
    @media (min-width: @tablet) {
      margin: 40px auto;
      padding: 20px 40px;
      font: bold 20px/20px sans-serif;
    }
  }
  .audio-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    gap: 10px;
    align-items: center;
    width: 100%;
    @media (min-width: @tablet) {
      grid-area: audio;
      margin-top: 30px;
    }
    &__play {
      .reset-btn();
      width: 50px;
      height: 50px;
    }
    .play {
      background: url("../../img/svg/play-btn.svg");
      &:hover {
        transform: scale(1.2);
        transition: transform 0.2s;
      }
    }
    .pause {
      background: url("../../img/svg/pause-icon.svg");
      &:hover {
        transform: scale(1.2);
        transition: transform 0.2s;
      }
    }

    &__mute-wrapper {
      position: relative;
    }
    &__mute-btn {
      .reset-btn();
      width: 20px;
      height: 20px;
    }
    .unmuted {
      background: url("../../img/svg/unmuted-icon.svg");
      &:hover {
        transform: scale(1.2);
        transition: transform 0.2s;
      }
    }
    .muted {
      background: url("../../img/svg/muted-icon.svg");
      &:hover {
        transform: scale(1.2);
        transition: transform 0.2s;
      }
    }
  }
  .checked-answer .audio-container,
  .question .audio-container {
    &__duration-container {
      display: grid;
      position: relative;
    }
    @media (min-width: @tablet) {
      grid-area: audio;
    }
    &__current-time,
    &__duration {
      position: absolute;
      bottom: -30px;
    }
    &__duration {
      right: 0;
    }
    &__duration-changer {
      width: 100%;
    }
    &__volume-changer {
      display: none;
    }
    .is-open {
      display: block;
      position: absolute;
      transform: rotate(270deg);
      right: -15px;
      top: -30px;
      width: 50px;
    }
  }
}

.audio-container__duration-changer,
.audio-container__volume-changer {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: rgba(199, 243, 40, 0.897);
  border-radius: 5px;
  outline: none;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.audio-container__duration-changer:hover,
.audio-container__volume-changer:hover {
  opacity: 1;
}
.audio-container__duration-changer::-webkit-slider-thumb,
.audio-container__volume-changer::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: url("../../img/svg/logo-icon.svg");
  cursor: pointer;
}
.audio-container__duration-changer::-webkit-slider-thumb:hover,
.audio-container__volume-changer::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}
