.promo {
  .container(@mobile);
  display: grid;
  place-items: center;
  &__video {
    width: @mobile;
  }
  &__sentence {
    padding: 5px;
    display: grid;
    place-items: center;
    font: italic 18px/20px sans-serif;
    color: #01020182;
    @media (min-width: @tablet) {
      font: italic 35px/20px sans-serif;
    }
  }
  &__results {
    font: italic 35px/40px sans-serif;
    text-align: center;
    color: #01020182;
  }
  &__btn {
    .reset-btn();
    margin-top: 40px;
    margin-bottom: 20px;
    background: @orangered;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    color: white;
    font: bold 35px/20px sans-serif;
    text-transform: uppercase;
    transition: 0.6s linear;
    @media (min-width: @tablet) {
      width: 360px;
      height: 360px;
      font: bold 55px/20px sans-serif;
    }
  }
  &__btn:hover {
    color: yellow;
    background: cyan;
  }

  @media (min-width: @tablet) {
    .container(@tablet);
    &__video {
      width: @tablet;
    }
  }
  @media (min-width: @desktop) {
    .container(@desktop);
    display: grid;
    place-items: center;
    &-rules__item p {
      font: normal 25px/25px sans-serif;
    }
  }
}
