.cards__wrapper
  section(class="cards")
    ul(class="cards__list animals-list")

    button(class="cards__btn-left" type="button")
      include ../../img/icons/icon-arrow-left.svg
    button(class="cards__btn-right" type="button")
      include ../../img/icons/icon-arrow-right.svg
    button(class="cards__btn" type="button") Choose your favorite

