section(class="cards")
  ul(class="cards__list animals-list")
    li(class="animals-list__item")
      img(src="../../img/photos/two-pandas.png" alt="Two homosexual pandas" width="366px" height="366px")
      b Giant Pandas
      p Native to Southwest China
      include ../../img/icons/banana.svg
    li(class="animals-list__item")
      img(src="../../img/photos/eagle.png" alt="A flying eagle" width="366px" height="366px")
      b Eagles
      p Native to South America
      include ../../img/icons/meat.svg
    li(class="animals-list__item")
      img(src="../../img/photos/gorilla.png" alt="A huge gorilla" width="366px" height="366px")
      b Gorillas
      p Native to Congo
      include ../../img/icons/banana.svg
    li(class="animals-list__item")
      img(src="../../img/photos/sloth.png" alt="A sloth on the tree" width="366px" height="366px")
      b Two-toed Sloth
      p Mesoamerica, South America
      include ../../img/icons/banana.svg
    li(class="animals-list__item")
      img(src="../../img/photos/cheetahs.png" alt="Cheetahs" width="366px" height="366px")
      b Cheetahs
      p Native to Africa
      include ../../img/icons/meat.svg
    li(class="animals-list__item")
      img(src="../../img/photos/penguins.png" alt="A penguin in Antarctica" width="366px" height="366px")
      b Penguins
      p Native to Antarctica
      include ../../img/icons/meat.svg
  button(class="cards__btn-left" type="button")
    include ../../img/icons/icon-arrow-left.svg
  button(class="cards__btn-right" type="button")
    include ../../img/icons/icon-arrow-right.svg
  button(class="cards__btn" type="button") Choose your favorite

