-
  const paths = [
    {
      path: './index.html',
      text: 'About',
      isActive: true
    },
    {
      path: '#',
      text: 'Map',
      isActive: false,
    },
    {
      path: '#',
      text: 'Zoos',
      isActive: false,
    },
    {
      path: './donate.html',
      text: 'Donate',
      isActive: false,
    },
    {
      path: '#',
      text: 'Contact us',
      isActive: false,
    },
  ];
