.donating__wrapper
  section(class="donating")
    h2(class="donating__h2") THE ZOO HAS OFFICIALLY REOPENED BUT WE STILL NEED YOUR HELP!
    p(class="donating__p") Even though the Zoo has been able to reopen, we are at a greatly reduced capacity with educational programs and public and private events cancelled or postponed for additional months. We need you now more than ever to help ensure that we overcome these challenges. We have been actively raising funds in the community, and we are grateful for the generosity.  But much more support is still needed, and we need your help! Please consider a gift today – no matter what size – to help us sustain our mission.
    h3(class="donating__h3") Donation Information
    div(class="donating__calculator calculator")
      h3(class="calculator__h3") Pick and feed a friend
      p(class="calculator__p") We know the animals bring you joy, and in these extraordinary times, we’re glad.
      .panda-diet__wrapper
        .number-pandas
          strong 4
          span Panda diet for the day.
        include ../../img/icons/icon-big-panda.svg
      .range__wrapper
        label(class="amount-price" for="amount") Amount

      ul(class="price-list")
        li(class="price-list__item five-thousand")
          .dollar__wrapper
            include ../../img/icons/icon-dollar.svg
            input#five-thousand(type='radio' name='amount' class="amount-input" value="5000")
            label(class="amount-input-label" for="five-thousand" tabIndex="0") 5000

        li(class="price-list__item two-thousand")
          .dollar__wrapper
            include ../../img/icons/icon-dollar.svg
            input#two-thousand(type='radio' name='amount' class="amount-input" value="2000")
            label(class="amount-input-label" for="two-thousand" tabIndex="0") 2000

        li(class="price-list__item one-thousand")
          .dollar__wrapper
            include ../../img/icons/icon-dollar.svg
            input#one-thousand(type='radio' name='amount' class="amount-input" value="1000")
            label(class="amount-input-label" for="one-thousand" tabIndex="0") 1000

        li(class="price-list__item five-hundred")
          .dollar__wrapper
            include ../../img/icons/icon-dollar.svg
            input#five-hundred(type='radio' name='amount' class="amount-input" value="500")
            label(class="amount-input-label" for="five-hundred" tabIndex="0") 500

        li(class="price-list__item two-hundred-fifty")
          .dollar__wrapper
            include ../../img/icons/icon-dollar.svg
            input#two-hundred-fifty(type='radio' name='amount' class="amount-input" value="250")
            label(class="amount-input-label" for="two-hundred-fifty" tabIndex="0") 250

        li(class="price-list__item one-hundred orange")
          .dollar__wrapper
            include ../../img/icons/icon-dollar.svg
            input#one-hundred(type='radio' name='amount' class="amount-input" value="100" checked)
            label(class="amount-input-label" for="one-hundred" tabIndex="0") 100

        li(class="price-list__item fifty")
          .dollar__wrapper
            include ../../img/icons/icon-dollar.svg
            input#fifty(type='radio' name='amount' class="amount-input" value="50")
            label(class="amount-input-label" for="fifty" tabIndex="0") 50

        li(class="price-list__item twenty-five")
          .dollar__wrapper
            include ../../img/icons/icon-dollar.svg
            input#twenty-five(type='radio' name='amount' class="amount-input" value="25")
            label(class="amount-input-label" for="twenty-five" tabIndex="0") 25

      label(class="label__input-number")
        span(class="mistake__shower")
        input(class="input__number" type="number" min="-9999" max="9999" placeholder="Another amount" value="100")
        include ../../img/icons/icon-dollar.svg
      .radio-btns
        input#monthly(type="radio" name="payment")
        label(for="monthly") Monthly
        input#once(type="radio" name="payment" checked)
        label(for="once" class="second-label") Once
      button(type="button" class="donation__btn") Feed a friend now
      p(class="donation__share") Share with your friends on social networks
