.footer__wrapper
  footer(class="footer")
    .logo-form__wrapper
      a(class="footer__logo" href="index.html")
        span(class="footer__logo-mobile") PetStory online
        include ../../img/svg/logo.svg
      form(class="footer__email-form" action="#")
        label(class="email-label" for="email") Subscribe to our news
          input#email(type="email" placeholder="Enter your email" required)
        button(type="button" class="footer__email-form--btn") Submit
    a(class="footer__donation-btn" href="donate.html") Donate for volunteers
    .lists__wrapper
      ul(class="footer__social-list social-list")
        li(class="social-list__item")
          a(href="http://www.facebook.com")
            include ../../img/icons/icon-facebook.svg
            span Facebook
        li(class="social-list__item")
          a(href="http://www.twitter.com")
            include ../../img/icons/icon-twitter.svg
            span Twitter
        li(class="social-list__item")
          a(href="http://www.instargram.com")
            include ../../img/icons/icon-instagram.svg
            span Instagram
        li(class="social-list__item")
          a(href="http://www.youtube.com")
            include ../../img/icons/icon-youtube.svg
            span Youtube
      ul(class="footer__nav-list footer-nav-list")
        li(class="footer-nav-list__item")
          a(href="./index.html" class="active") About
        li(class="footer-nav-list__item")
          a(href="#") Map
        li(class="footer-nav-list__item")
          a(href="#") Zoos
        li(class="footer-nav-list__item")
          a(href="#") Contact us
      .contacts__wrapper
        a(href="https://www.figma.com/file/ypzT9idgAILaSRVRmDAJxn/online-zoo-3-weeks") Designed by Alisa Samborskaya
        span ©RSSchool & ©Yem Digital 2021
