head
  meta(charset="utf-8" lang="ru")
  title Online-zoo
  meta(content="width=device-width, initial-scale=1" name="viewport")
  meta(content="ie=edge" http-equiv="x-ua-compatible")
  meta(name="description" content="Online-zoo site")

  link(rel="preload" href="fonts/Roboto-100.woff2" as="font" crossorigin="anonymous")
  link(rel="preload" href="fonts/Roboto-300.woff2" as="font" crossorigin="anonymous")
  link(rel="preload" href="fonts/Roboto-400.woff2" as="font" crossorigin="anonymous")
  link(rel="preload" href="fonts/Roboto-500.woff2" as="font" crossorigin="anonymous")
  link(rel="preload" href="fonts/Roboto-700.woff2" as="font" crossorigin="anonymous")
  link(rel="preload" href="fonts/Roboto-900.woff2" as="font" crossorigin="anonymous")
  //- link(rel="preconnect" href="https://fonts.googleapis.com")
  //- link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  //- link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
  link(rel="preload" href="css/style.css" as="style")
  link(rel="stylesheet" href="css/style.css")
  //- link(rel="icon" href="img/favicons/favicon-32.svg" type="image/svg+xml")
  //- link(rel="icon" href="favicon-32.ico")
  //- link(rel="apple-touch-icon" href="img/favicons/favicon-apple-180.png")
  //- link(rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png")
  //- link(rel="manifest" href="site.webmanifest")
