.scheme__wrapper
  section(class="scheme")
    .text__wrapper
      h2(class="scheme__h2") Pick and feed a friend
      p(class="scheme__p") We know the animals bring you joy, and in these extraordinary times, we’re glad.
      span(class="scheme__smaller-text") During a time when the COVID-19 epidemic is touching all of our lives, we’re proud and glad that people around the world find joy in PetStory.
      span(class="scheme__smaller-text") Even though the zoo has reopened, we need you now more than ever to help us deal with these problems. Please consider a gift to our <a class="scheme__link" href="donate.html">Emergency Support Fund</a> .
      h3(class="scheme__h3") How it works
      ul(class="scheme__list order-list")
        li(class="order-list__item")
          .svg-wrapper
            include ../../img/icons/icon-pay.svg
          p Pay with card
        li(class="order-list__item second-item")
          .svg-wrapper
            include ../../img/icons/icon-palm.svg
          p Payment goes to the zoo
        li(class="order-list__item")
          .svg-wrapper
            include ../../img/icons/icon-monkey.svg
          p Your favourite animal gets delicious dish
      a(class="scheme__btn" href="donate.html") Feed a friend now
