script(src="js/index.js" type="module")
//- script(src="js/menu-toggler.js")
//- script(src="js/nav-active-toggler.js")
//- script(src="js/match-media.js")
//- script(src="js/shuffle-carousel.js")
//- script(src="js/reviews-slider.js")
