section(class="testimonials")
  h2 Testimonials
  ul(class="testimonials__list testimonials-list")
    li(class="testimonials-list__item")
      .person__wrapper
        include ../../img/icons/icon-user.svg
        b Michael John
        .person__location
          span Local Austria
          span Today
      .person__comment
        p The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for
    li(class="testimonials-list__item")
      .person__wrapper
        img(src="img/photos/icon-beard-man.jpg" alt="Avatar of bearded man" width="37px" height="37px")
        b Oskar Samborsky
        .person__location
          span Local Austria
          span Yesterday
      .person__comment
        p Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for
    li(class="testimonials-list__item")
      .person__wrapper
        img(src="img/photos/icon-girl.jpg" alt="Avatar of a beautiful girl" width="37px" height="37px")
        b Fredericka Michelin
        .person__location
          span Local Austria
          span Yesterday
      .person__comment
        p The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals. The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. The best online zoo I’ve met. My son delighted very much ljves to
    li(class="testimonials-list__item")
      .person__wrapper
        img(src="img/photos/icon-another-girl.jpg" alt="Avatar of another beautiful girl" width="37px" height="37px")
        b Mila Riksha
        .person__location
          span Local Austria
          span Yesterday
      .person__comment
        p My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf
  button(class="testimonials__btn" type="button") Leave feedback
